*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edf2ff;
    font-family: 'Roboto', sans-serif;
    
}

.avatar{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 4px solid rgb(56, 56, 222);
    padding: 3.5px;
}


ul{
    list-style: none;
    margin: 48px auto;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

li{
    padding-bottom: 5px;
}


.container{
    width: 300px;
    margin: 60px auto;
    text-align: center;
}

h1{
    margin-top: 24px;
    margin-bottom: 8px;

}